<div class="card-body p-9">
    <div class="row">
        <div class="col-lg-6">
            <div class="row mb-7">
                <!--begin::Label-->
                <label class="col-lg-4 fw-bold text-muted">Nom et prénom
                </label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8">
                    <span class="fw-bolder fs-6 text-gray-800">{{patient.getFullName}}</span>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Row-->
            <!--begin::Input group-->
            <div class="row mb-7">
                <!--begin::Label-->
                <label class="col-lg-4 fw-bold text-muted">Entreprise</label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8 fv-row">
                    <span class="fw-bold text-gray-800 fs-6">{{ patient.company }}</span>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Input group-->
            <div class="row mb-7">
                <!--begin::Label-->
                <label class="col-lg-4 fw-bold text-muted">Adresse e-mail
                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Phone number must be active">
                    </i>
                </label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8 d-flex align-items-center">
                    <span class="fw-bolder fs-6 text-gray-800 me-2">{{patient.users.email}}</span>
                    <span class="badge badge-success">Vérifié</span>
                </div>
                <!--end::Col-->
            </div>
            <!--begin::Input group-->
            <div class="row mb-7">
                <!--begin::Label-->
                <label class="col-lg-4 fw-bold text-muted">Numéro contact
                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Phone number must be active"></i></label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8 d-flex align-items-center">
                    <span class="fw-bolder fs-6 text-gray-800 me-2">
                        +225 0767636903
                    </span>
                    <span class="badge badge-success">Vérifié</span>
                </div>
                <!--end::Col-->
            </div>
            <div class="row mb-7">
                <label class="col-lg-4 fw-bold text-muted">Âge
                </label>
                <div class="col-lg-8 d-flex align-items-center">
                    <span class="fw-bolder fs-6 text-gray-800 me-2">{{ patient.getAge }} ans</span>
                </div>
            </div>
            <div class="row mb-7">
                <label class="col-lg-4 fw-bold text-muted">Genre
                </label>
                <div class="col-lg-8 d-flex align-items-center">
                    <span class="fw-bolder fs-6 text-gray-800 me-2">{{patient.gender == "M" ? "Homme" : "Femme"}}</span>
                </div>
            </div>
            <div class="row mb-7">
                <label class="col-lg-4 fw-bold text-muted">Poids
                </label>
                <div class="col-lg-8 d-flex align-items-center">
                    <span class="fw-bolder fs-6 text-gray-800 me-2">{{ patient.weight }} Kg</span>
                </div>
            </div>
            <div class="row mb-7">
                <label class="col-lg-4 fw-bold text-muted">
                    Taille
                </label>
                <div class="col-lg-8 d-flex align-items-center">
                    <span class="fw-bolder fs-6 text-gray-800 me-2">
                        {{ patient.height }} Cm
                    </span>
                </div>
            </div>
            <div class="row mb-7">
                <label class="col-lg-4 fw-bold text-muted">Nombre d'enfants
                </label>
                <div class="col-lg-8 d-flex align-items-center">
                    <span class="fw-bolder fs-6 text-gray-800 me-2">{{ patient.numberOfChildren }}</span>
                </div>
            </div>
            <div class="row mb-7">
                <label class="col-lg-4 fw-bold text-muted">Profession
                </label>
                <div class="col-lg-8 d-flex align-items-center">
                    <span class="fw-bolder fs-6 text-gray-800 me-2">{{patient.occupation|upper}}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row mb-7">
                <!--begin::Label-->
                <label class="col-lg-4 fw-bold text-muted">Matricule</label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8">
                    <a href="#" class="fw-bold fs-6 text-gray-800 text-hover-primary">
{#                        {{ patient.matricule ? patient.matricule : "N/A" }}#}
                    </a>
                </div>
                <!--end::Col-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="row mb-7">
                <!--begin::Label-->
                <label class="col-lg-4 fw-bold text-muted">
                    Pays
                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Country of origination">
                    </i>
                </label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8">
                    <span class="fw-bolder fs-6 text-gray-800">{{ patient.country.name }}</span>
                </div>
                <!--end::Col-->
            </div>
            <div class="row mb-7">
                <!--begin::Label-->
                <label class="col-lg-4 fw-bold text-muted">
                    Région d'origine
                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Country of origination">
                    </i>
                </label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8">
                    <span class="fw-bolder fs-6 text-gray-800">{{ patient.region.name }}</span>
                </div>
                <!--end::Col-->
            </div>
            <div class="row mb-7">
                <label class="col-lg-4 fw-bold text-muted">Ville
                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Country of origination"></i>
                </label>
                <div class="col-lg-8">
                    <span class="fw-bolder fs-6 text-gray-800">{{patient.city.name}}</span>
                </div>
            </div>
            <div class="row mb-7">
                <label class="col-lg-4 fw-bold text-muted">Lieu résidence
                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Country of origination"></i>
                </label>
                <div class="col-lg-8">
                    <span class="fw-bolder fs-6 text-gray-800">
{#                        {{ patient.placeResidence }}#}
                    </span>
                </div>
            </div>
            <div class="row mb-7">
                <label class="col-lg-4 fw-bold text-muted">
                    Nationalité
                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Country of origination"></i>
                </label>
                <div class="col-lg-8">
                    <span class="fw-bolder fs-6 text-gray-800">
{#                        {{ patient.nationality.name }}#}
                    </span>
                </div>
            </div>
            <div class="row mb-7">
                <label class="col-lg-4 fw-bold text-muted">Adresse
                    <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Country of origination"></i>
                </label>
                <div class="col-lg-8">
                    <span class="fw-bolder fs-6 text-gray-800">
{#                        {{ patient.address }}#}
                    </span>
                </div>
            </div>
        </div>
        <div class="separator separator-dotted separator-content border-dark my-15">
            <!--begin::Svg Icon | path: assets/media/icons/duotune/medicine/med001.svg-->
            <span class="svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path opacity="0.3" d="M12.025 4.725C9.725 2.425 6.025 2.425 3.725 4.725C1.425 7.025 1.425 10.725 3.725 13.025L11.325 20.625C11.725 21.025 12.325 21.025 12.725 20.625L20.325 13.025C22.625 10.725 22.625 7.025 20.325 4.725C18.025 2.425 14.325 2.425 12.025 4.725Z" fill="black"/>
                <path d="M14.025 17.125H13.925C13.525 17.025 13.125 16.725 13.025 16.325L11.925 11.125L11.025 14.325C10.925 14.725 10.625 15.025 10.225 15.025C9.825 15.125 9.425 14.925 9.225 14.625L7.725 12.325L6.525 12.925C6.425 13.025 6.225 13.025 6.125 13.025H3.125C2.525 13.025 2.125 12.625 2.125 12.025C2.125 11.425 2.525 11.025 3.125 11.025H5.925L7.725 10.125C8.225 9.925 8.725 10.025 9.025 10.425L9.825 11.625L11.225 6.72498C11.325 6.32498 11.725 6.02502 12.225 6.02502C12.725 6.02502 13.025 6.32495 13.125 6.82495L14.525 13.025L15.225 11.525C15.425 11.225 15.725 10.925 16.125 10.925H21.125C21.725 10.925 22.125 11.325 22.125 11.925C22.125 12.525 21.725 12.925 21.125 12.925H16.725L15.025 16.325C14.725 16.925 14.425 17.125 14.025 17.125Z" fill="black"/>
                </svg>
            </span>
            <!--end::Svg Icon-->
            <span class="w-650px h3"> Informations Santé Générale(ISG)</span>
            <span class="svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path opacity="0.3" d="M12.025 4.725C9.725 2.425 6.025 2.425 3.725 4.725C1.425 7.025 1.425 10.725 3.725 13.025L11.325 20.625C11.725 21.025 12.325 21.025 12.725 20.625L20.325 13.025C22.625 10.725 22.625 7.025 20.325 4.725C18.025 2.425 14.325 2.425 12.025 4.725Z" fill="black"/>
                <path d="M14.025 17.125H13.925C13.525 17.025 13.125 16.725 13.025 16.325L11.925 11.125L11.025 14.325C10.925 14.725 10.625 15.025 10.225 15.025C9.825 15.125 9.425 14.925 9.225 14.625L7.725 12.325L6.525 12.925C6.425 13.025 6.225 13.025 6.125 13.025H3.125C2.525 13.025 2.125 12.625 2.125 12.025C2.125 11.425 2.525 11.025 3.125 11.025H5.925L7.725 10.125C8.225 9.925 8.725 10.025 9.025 10.425L9.825 11.625L11.225 6.72498C11.325 6.32498 11.725 6.02502 12.225 6.02502C12.725 6.02502 13.025 6.32495 13.125 6.82495L14.525 13.025L15.225 11.525C15.425 11.225 15.725 10.925 16.125 10.925H21.125C21.725 10.925 22.125 11.325 22.125 11.925C22.125 12.525 21.725 12.925 21.125 12.925H16.725L15.025 16.325C14.725 16.925 14.425 17.125 14.025 17.125Z" fill="black"/>
                </svg>
            </span>
        </div>
        <div class="col-lg-12">
            <div class="row mb-7">
                <label class="col-lg-4 fw-bold text-muted">Groupe Sanguin</label>
                <div class="col-lg-8">
                    <span class="fw-bolder fs-6 text-gray-800">{{ patient.bloodGroup.name|default('N/A')}}</span>
                </div>
            </div>
            <div class="row mb-7">
                <label class="col-lg-4 fw-bold text-muted">Statut Drépanocytose</label>
                <div class="col-lg-8">
                    <span class="fw-bolder fs-6 text-gray-800">
                    {% if patient.statutdepranocite is defined and patient.statutdepranocite is not null %}
                        {{patient.statutdepranocite.libelle}} => {{patient.statutdepranocite.typestatut}}</span>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-7">
                <label class="col-lg-4 fw-bold text-muted">Régime Alimentaire</label>
                <div class="col-lg-8">
                    <span class="fw-bolder fs-6 text-gray-800">
{#                        {{patient.regime}}#}
                    </span>
                </div>
            </div>
            <div class="row mb-7">
                <label class="col-lg-4 fw-bold text-muted">Canal de Communication</label>
                <div class="col-lg-8">
                    <span class="fw-bolder fs-6 text-gray-800">E-mail, téléphone</span>
                </div>
            </div>
            <div class="row mb-10">
                <!--begin::Label-->
                <label class="col-lg-4 fw-bold text-muted">Autoriser les modifications</label>
                <!--begin::Label-->
                <!--begin::Label-->
                <div class="col-lg-8">
                    <span class="fw-bold fs-6 text-gray-800">OUI</span>
                </div>
                <!--begin::Label-->
            </div>
        </div>
    </div>
{#    {{ include('/patient/show/_show_patient_contact_personne.html.twig') }}#}
{#    {{ include('/patient/show/_show_patient_attribut.html.twig') }}#}
{#    {{ include('/patient/show/_show_patient_compte_associe.html.twig') }}#}
{#    {{ include('/patient/show/_show_patient_affection.html.twig') }}#}
{#    {{ include('/patient/show/_show_patient_allergie.html.twig') }}#}
{#    {{ include('/patient/show/_show_patient_traitement.html.twig') }}#}
{#    {{ include('/patient/show/_show_patient_assurance.html.twig') }}#}
{#    {{ include('/patient/show/_show_patient_vaccin.html.twig') }}#}

    <div class="row">
        <div class="col-lg-12">
{#            {{ include('/admin/profile/_profile_notif.html.twig') }}#}
        </div>
    </div>
</div>