{% extends 'base.html.twig' %}

{% block title %}SubscriptionPlans{% endblock %}

{% block body %}
    <h1>SubscriptionPlans</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ subscription_plan.id }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ subscription_plan.currency }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ subscription_plan.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ subscription_plan.price }}</td>
            </tr>
            <tr>
                <th>Frequency</th>
                <td>{{ subscription_plan.frequency }}</td>
            </tr>
            <tr>
                <th>Is_default</th>
                <td>{{ subscription_plan.isDefault ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Trial_days</th>
                <td>{{ subscription_plan.trialDays }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ subscription_plan.createdAt ? subscription_plan.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ subscription_plan.updatedAt ? subscription_plan.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Sms_limit</th>
                <td>{{ subscription_plan.smsLimit }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_subscription_plans_index') }}">back to list</a>

    <a href="{{ path('app_subscription_plans_edit', {'id': subscription_plan.id}) }}">edit</a>

    {{ include('subscription_plans/_delete_form.html.twig') }}
{% endblock %}
